.GameDetailsModal {
    font-family: -apple-system, BlinkMacSystemFont, 'Orbit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    serif;
    color: var(--text-color);

    .ant-modal-header {
        background-color: var(--modal-background-color);
        padding-top: 20px;
    }

    .ant-modal-content {
        background-color: var(--modal-background-color);
        
        .ant-modal-body p>span {
            color: var(--main-color);
        }
    }

    .ant-modal-title {
        color: var(--text-color);
        font-size: 24px;
        text-align: center;
    }
}

.GameDetailsModalCarouselItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.GameDetailsModalHeader {
    text-align: left;
    padding-bottom: 10px;
}

.GameDetailsModalMetacritic{
    display: inline;
    text-align: left;
}

.GameDetailsModalWantToPlay {
    display: table;
    margin-bottom: 10px;
    background-color: var(--main-color);
}

.GameDetailsModalWantToPlayText {
    font-size: 18px;
    padding-right: 5px;
}

.GameDetailsModalWantToPlayIcon {
    color: var(--text-color);
    font-size: 18px;
    padding: 8px 6px;  
}

.GameDetailsModalWantToPlaySaved {
    display: table;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
}

.GameDetailsModalPlayedGames {
    display: table;
    margin-bottom: 10px;
    background-color: var(--main-color);
}

.GameDetailsModalPlayedGamesSaved {
    display: table;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
}

.GameDetailsModalPlayedGamesIcon {
    color: var(--text-color);
    font-size: 18px;
    padding: 8px 6px;
}

.GameDetailsModalPlayedGamesText {
    font-size: 18px;
    padding-right: 5px;
}